body{
	width: 1330px;
	background-color: #001;
	text-align: center;
}

div{
	width: 263px;
	margin-left: 7px;
	margin-right: 0px;
	margin-top: 10px;
	display: inline-block;
	text-align:center;
}

.titulo{
	width: 1330px;
	height: 250px;
}

.publicidad{
	background-color: yellow;
	width: 242px;
	float: left;
	display: inline-block;
}

.barraN{
	list-style-type: none;
	padding-left: 0px;
	text-align: center;
}

.barraN li{
	display: inline-block;
	width: auto;
}

.barraN li a{
	display: block;
	width: auto;
	text-decoration: none;
	color: #FFF;
}

.barraN li a:hover{
	background-color: red;
}

.contenido{
	display: inline-block;
	width: 835px;
	float: left;
	margin-left: 5px;
	margin-right: 5px;
}

.PdP{
	background-color: yellow;
	height: 200px;
	margin-top: 2400px;
}
.PdP2{
	background-color: yellow;
	height: 200px;
	margin-top: 650px;
}
.TdV{
	color: #DA080C;
}